<!DOCTYPE html>
<html>
{% include 'header.html' %}
    <style type="text/css">
		.contact_list {list-style: none}
    </style>
	<body>

		<div class="container">
		
			{% include 'navbar.html' %}

			<div class="panel panel-heading panel-default">
			<!-- SOMETHING HERE ABOUT THE GAME -->
				<div class="row">
					<div class="col-md-3">
						<h1>Carl Schager</h1>
						<img src="/static/profile.jpg" alt="..." class="img-rounded" height="140" width="140">
					</div>
					<div class="col-md=2">
					<br><br>
						<h3><a href="https://www.facebook.com/crazcarl">Facebook</a></h3>
						<h3><a href="http://www.linkedin.com/pub/carl-schager/10/b15/554/">LinkedIn</a></h3>
					</div>
				</div>
			</div>
		</div>

	</body>
</html>
