<!DOCTYPE html>
<html>
{% include 'header.html' %}
	<body>

		<div class="container">
		{% include 'navbar.html' %}
	
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">What is the point of this game?</h3>
			</div>
			<div class="panel-body">
				To test your knowledge of where the bars in Madison are located. There maybe be a few (or a lot) you didn't know existed, or weren't where you thought they were located.
			</div>
		</div>
<br>
		
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">Where can I see a list of the all bars included in the game?</h3>
			</div>
			<div class="panel-body">
				You can see the full list <a href="/bars">here</a>.
			</div>
		</div>
<br>
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">How is the location determined for each place?</h3>
			</div>
			<div class="panel-body">
				I manually drop a pin on the map to add a new location.
			</div>
		</div>
<br>
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">I think a location is wrong, can you fix it?</h3>
			</div>
			<div class="panel-body">
				Sure, just <a href="/contact">contact</a> me and let me know.
			</div>
		</div>
<br>
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">How does a bar get added?</h3>
			</div>
			<div class="panel-body">
				Right now this is mostly just places I have been to or have seen. If you don't see your favorite bar on here, <a href="/contact">contact</a> me and I'll try and get it added.
			</div>
		</div>
<br>
		</div>
		
	</body>
	
</html>