<!DOCTYPE html>
<html>
	<head>
		<title>Place Mapper Game</title>
		<script src="/js/jquery.js"></script>
		<link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
		<script src="/bootstrap/js/bootstrap.js"></script>
	</head>
	<body>

		<div class="container">
		
			<div id="header" class="navbar navbar-default">
				<strong><div class="nav navbar-nav navbar-header"><a href="/" class="navbar-brand">Place Mapper Game</a></div>
				<!--If logged in, then don't display this -->
				<div class="navbar-collapse collapse navbar-responsive-collapse">
					<ul class="navbar-right">
						<div class="nav navbar-nav"><li><a class="navbar-link" href="/leaderboard">Leaderboard</a></li></div>
						<div class="nav navbar-nav"><li><a class="navbar-link" href="/contact">Contact</a></li></div>
					</strong></ul>
				</div>
			</div>


Here are your leaders!
<br>
{% for leader in leaderboard %}
	<div>{{leader.name}} got a {{leader.score}} out of {{leader.total}}!!</div><br>
{% endfor %}

		</div>
	</body>
</html>
