			<div id="header" class="navbar navbar-default">
				<strong><div class="nav navbar-nav navbar-header"><a href="/" class="navbar-brand">Place Mapper Game</a></div>
				<!--If logged in, then don't display this -->
				<div class="navbar-collapse collapse navbar-responsive-collapse">
					<ul class="navbar-right">
						<div class="nav navbar-nav"><li><a class="navbar-link" href="/leaderboard">Leaderboard</a></li></div>
						<div class="nav navbar-nav"><li><a class="navbar-link" href="/stats">Stats</a></li></div>
						<div class="nav navbar-nav"><li><a class="navbar-link" href="/contact">Contact</a></li></div>
					</strong></ul>
				</div>
			</div>